@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");
@import url("./_reset.css");
@import url("./_a11y.css");
@import url("./_typography.css");
@import url("./_utilities.css");
@import url("./_media.css");
@import url("./_colors.css");

:root {
  /* font-family */
  --ff-heading: "Overpass", sans-serif;
  --ff-body: "Ubuntu", sans-serif;

  /* colors */
  --light-red: hsl(356, 100%, 66%);
  --very-light-red: hsl(355, 100%, 74%);
  --very-dark-blue: hsl(208, 49%, 24%);
  --white: hsl(0, 0%, 100%);
  --grayis-blue: hsl(240, 2%, 79%);
  --very-dark-grayish-blue: hsl(207, 13%, 34%);
  --very-dark-black-blue: hsl(240, 10%, 16%);
  --gradient-red: linear-gradient(135deg, #ff8f70 0%, #ff3d54 100%);
  --gradient-blue: linear-gradient(135deg, #2c2d3f 0%, #3f4164 100%);

  /* font-sizes */
  --h1: 2.25rem;
  --h2: 1.75rem;
  --h3: 1.75rem;
  --sub-h1: 1.125rem;
  --body: 1rem;
  --footer-link: 1.125rem;
}

@media (--md) {
  :root {
    /* font-sizes */
    --h1: 4rem;
    --h2: 2.5rem;
    --sub-h1: 1.25rem;
    --footer-link: 1rem;
  }
}

/* Body */

body {
  font-family: var(--ff-body);
  font-size: var(--body);
  color: var(--very-dark-grayish-blue);
  line-height: 28px;
  letter-spacing: 0.016em;
  overflow-x: hidden;
}
