<section id="feature" aria-label="feature section">
  <h2 class="h2 text-center">Designed for the future</h2>
  <!-- reusable component starts here -->
  <div class="wrapper container d-flex">
    <div class="left-panel">
      <h3 class="h3">Introducing an extensible editor</h3>
      <p>
        Blogr features an exceedingly intuitive interface which lets you focus
        on one thing: creating content. The editor supports management of
        multiple blogs and allows easy manipulation of embeds such as images,
        videos, and Markdown. Extensibility with plugins and themes provide easy
        ways to add functionality or change the looks of a blog.
      </p>
      <h3 class="h3 second">Robust content management</h3>
      <p>
        Flexible content management enables users to easily move through posts.
        Increase the usability of your blog by adding customized categories,
        sections, format, or flow. With this functionality, you’re in full
        control.
      </p>
    </div>
    <div class="right-panel">
      <picture class="editor">
        <source
          media="(min-width: 67.5em)"
          srcset={`/assets/images/illustration-editor-desktop.svg`}
        />
        <source
          media="(max-width: 67.5em)"
          srcset={`/assets/images/illustration-editor-mobile.svg`}
        />
        <img
          srcset={`/assets/images/illustration-editor-desktop.svg, /assets/images/illustration-editor-mobile.svg`}
          sizes="(min-width: 67.5em), (max-width: 67.5em)"
          src={`/assets/images/illustration-editor-mobile.svg`}
          alt={`Chevron`}
        />
      </picture>
    </div>
  </div>
</section>

<style>
  @import url("../styles/_media.css");
  section {
    padding-top: 6.375rem;

    @media (--md) {
      padding-top: 9.75rem;
    }
  }
  .wrapper {
    flex-direction: column-reverse;
    @media (--md) {
      position: relative;
      padding-top: 6.375rem;
    }
  }
  .left-panel {
    @media (--md) {
      width: 50%;
    }
  }
  .right-panel {
    @media (--md) {
      position: absolute;
      top: -25%;
      left: 60%;
      width: 925px;
      height: 882px;
    }
  }
  p {
    padding-top: 1.5rem;
  }
  .second {
    padding-top: 4.875rem;
  }
</style>
