---
import Navigation from "../components/Navigation.astro";
---

<section id="hero" aria-label="hero section">
  <Navigation />
  <main id="main-content">Held</main>
</section>

<style>
  @import url("../styles/_media.css");
  #hero {
    background: var(--gradient-red);
    border-radius: 0px 0px 0px 100px;
  }
</style>
