<!-- navbar -->
<header id="header">
  <nav class="container">
    <div class="nav-header d-flex">
      <a href="/">
        <img class="logo" src="/assets/images/logo.svg" alt="home" />
      </a>

      <section class="navbar-mobile-icon">
        <button
          class="menu-toggle"
          aria-expanded="false"
          aria-controls="navigation"
          ><span class="sr-only">Menu</span>
          <svg
            width="32"
            height="18"
            viewBox="0 0 32 18"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M0 0H32V2H0V0ZM0 8H32V10H0V8ZM0 16H32V18H0V16Z"
              fill="white"></path>
          </svg>
        </button>
      </section>
    </div>
    <div class="nav_bar">
      <ul class="nav_bar_left" tabindex="-1">
        <li class="nav-parent">
          <button href="#" class="link-btn"
            >Product
            <span>
              <picture class="chevron">
                <source
                  media="(min-width: 67.5em)"
                  srcset={`/assets/images/icon-arrow-light.svg`}
                />
                <source
                  media="(max-width: 67.5em)"
                  srcset={`/assets/images/icon-arrow-dark.svg`}
                />
                <img
                  srcset={`/assets/images/icon-arrow-light.svg, /assets/images/icon-arrow-dark.svg`}
                  sizes="(min-width: 67.5em), (max-width: 67.5em)"
                  src={`/assets/images/icon-arrow-dark.svg`}
                  alt={`Chevron`}
                />
              </picture>
            </span>
          </button>

          <ul class="nav-child">
            <li><a href="#">Overview</a></li>
            <li><a href="#">Pricing</a></li>
            <li><a href="#">Marketplace</a></li>
            <li><a href="#">Features</a></li>
            <li><a href="#">Integrations</a></li>
          </ul>
        </li>
        <li class="nav-parent">
          <button href="#" class="link-btn"
            >Company <span>
              <picture class="chevron">
                <source
                  media="(min-width: 67.5em)"
                  srcset={`/assets/images/icon-arrow-light.svg`}
                />
                <source
                  media="(max-width: 67.5em)"
                  srcset={`/assets/images/icon-arrow-dark.svg`}
                />
                <img
                  srcset={`/assets/images/icon-arrow-light.svg, /assets/images/icon-arrow-dark.svg`}
                  sizes="(min-width: 67.5em), (max-width: 67.5em)"
                  src={`/assets/images/icon-arrow-dark.svg`}
                  alt={`Chevron`}
                />
              </picture>
            </span>
          </button>
          <ul class="nav-child">
            <li><a href="#">About</a></li>
            <li><a href="#">Team</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Careers</a></li>
          </ul>
        </li>
        <li class="nav-parent">
          <button href="#" class="link-btn"
            >Connect <span>
              <picture class="chevron">
                <source
                  media="(min-width: 67.5em)"
                  srcset={`/assets/images/icon-arrow-light.svg`}
                />
                <source
                  media="(max-width: 67.5em)"
                  srcset={`/assets/images/icon-arrow-dark.svg`}
                />
                <img
                  srcset={`/assets/images/icon-arrow-light.svg, /assets/images/icon-arrow-dark.svg`}
                  sizes="(min-width: 67.5em), (max-width: 67.5em)"
                  src={`/assets/images/icon-arrow-dark.svg`}
                  alt={`Chevron`}
                />
              </picture>
            </span>
          </button>
          <ul class="nav-child">
            <li><a href="#">Contact</a></li>
            <li><a href="#">Newsletter</a></li>
            <li><a href="#">LinkedIn</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav_bar_right" tabindex="-1">
        <li class="login">
          <a href="#">Login</a>
        </li>
        <li>
          <a class="btn" href="#">Sign Up</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<script>
  const toggler = document.querySelector(".menu-toggle");
  const navBar = document.querySelector(".nav_bar");
  const header = document.querySelector("header");
  const hero = document.querySelector("#hero");
  const navParents = document.querySelectorAll(".nav-parent");
  const navChildren = document.querySelectorAll(".nav-child");
  const navButtons = document.querySelectorAll(".link-btn");

  navParents.forEach((navParent) => {
    navParent.addEventListener("click", (e) => {
      const navChild = e.target.parentNode.querySelector(".nav-child");
      const navButton = e.target;
      navButtons.forEach((item) => {
        if (item !== navButton) {
          item.classList.remove("show");
        }
      });
      // navChildren.forEach((singleNavChild) => {
      //   if (singleNavChild !== navChild) {
      //     singleNavChild.classList.remove("show");
      //   }
      // });
      // navChild.classList.toggle("show");
      navButton.classList.toggle("show");
    });
  });

  header.addEventListener("click", (e) => {
    if (!e.target.classList.contains("link-btn")) {
      navButtons.forEach((navButton) => {
        navButton.classList.remove("show");
      });
    }
  });
  hero.addEventListener("click", (e) => {
    if (!e.target.classList.contains("link-btn")) {
      navButtons.forEach((navButton) => {
        navButton.classList.remove("show");
      });
    }
  });

  toggler.addEventListener("click", () => {
    // Toggle class "opened". Set also aria-expanded to true or false.
    if (-1 !== toggler.className.indexOf("opened")) {
      toggler.className = toggler.className.replace(" opened", "");
      toggler.setAttribute("aria-expanded", "false");
      toggler.innerHTML = `
       <svg
            width="32"
            height="18"
            viewBox="0 0 32 18"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M0 0H32V2H0V0ZM0 8H32V10H0V8ZM0 16H32V18H0V16Z"
              fill="white"></path>
          </svg>
      `;
      navBar.className = navBar.className.replace(" opened", "");
      header.className = header.className.replace(" opened", "");
    } else {
      toggler.className += " opened";
      navBar.className += " opened";
      toggler.setAttribute("aria-expanded", "true");
      toggler.innerHTML = `
      <svg width="26" height="26" xmlns="http://www.w3.org/2000/svg"><path d="M23.607.98l1.414 1.413L14.414 13l10.607 10.607-1.414 1.414L13 14.414 2.393 25.021.98 23.607 11.586 13 .98 2.393 2.393.98 13 11.586 23.607.98z" fill="#FFF" fill-rule="evenodd"/></svg>
      `;
    }
  });
  // Check if responsive menu is open when resized and then remove
  window.addEventListener("resize", () => {
    if (
      navBar.classList.contains("opened") &&
      window.matchMedia("(min-width: 768px)").matches
    ) {
      toggler.className = toggler.className.replace(" opened", "");
      toggler.setAttribute("aria-expanded", "false");
      navBar.className = navBar.className.replace(" opened", "");
    }
  });
</script>

<style>
  @import url("../styles/_media.css");
  nav {
    padding-top: 3.5rem;
    align-items: center;
    position: relative;
    @media (--md) {
      display: flex;
      padding-top: 4rem;
    }
  }
  ul {
    padding: 0;
    margin: 0;
  }
  ul li {
    position: relative;
  }
  ul ul {
    height: 0;
    overflow: hidden;
    display: none;
    @media (--md) {
      display: none;
      position: absolute;
      animation: fadeIn 0.35s both ease-in;
      top: 32px;
      padding: 1.5rem;
      left: -30%;
      border-radius: 8px;
      background-color: var(--white);
      box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1),
        0 2px 4px -2px rgb(0 0 0 / 0.1);
    }
  }
  ul ul li {
    padding-top: 0.5rem;
  }

  button.show .chevron {
    transform: rotate(180deg);
  }
  button.show + ul {
    height: auto;
    display: block;
    @media (--md) {
      display: block;
    }
  }
  /* ul ul.show {
    display: block;
  } */
  button {
    color: var(--very-dark-grayish-blue);
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 0.35rem;

    @media (--md) {
      color: var(--white);
      padding: 0;
      transition: all 0.35s ease-in;
    }
  }
  button span {
    pointer-events: none;
  }
  .nav-header {
    display: flex;
    justify-content: space-between;
  }
  .nav-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 1rem;
    @media (--md) {
      padding-top: 0rem;
    }
  }
  .nav-child {
    background-color: hsl(240 7% 94%);
    text-align: center;
    width: 100%;
    padding: 0.75rem;
    border-radius: 8px;
    @media (--md) {
      padding: 0;
      width: auto;
      text-align: left;
    }
  }
  .nav-child a {
    cursor: pointer;
    transition: all 0.35s ease-in;
    text-decoration: none;
    color: var(--very-dark-grayish-blue);
    @media (--md) {
      color: var(--very-dark-grayish-blue);
    }
    &:hover,
    &:focus {
      color: var(--very-dark-black-blue);
      font-weight: bold;
    }
  }
  a {
    text-decoration: none;

    transition: all 0.35s ease-in;
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
  .nav-header {
  }
  .nav_bar {
    display: none;
    position: absolute;
    background-color: var(--white);
    border-radius: 8px;
    margin-top: 2rem;
    padding: 1rem;
    width: 100%;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);

    @media (--md) {
      box-shadow: none;
      position: relative;
      flex: 1;
      width: auto;
      margin-top: 0rem;
      background-color: transparent;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  .nav_bar.opened {
    display: block;
  }
  .nav_bar_left,
  .nav_bar_right {
    @media (--md) {
      display: flex;
      gap: 2rem;
      align-items: center;
    }
  }
  .nav_bar_right {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (--md) {
      flex-direction: row;
    }
  }

  .login {
    padding-top: 1rem;
    margin-top: 1rem;
    border-top: 1px solid var(--grayis-blue);
    width: 100%;
    text-align: center;
    @media (--md) {
      width: auto;
      color: white;

      border: none;
      padding-top: 0rem;
      margin-top: 0rem;
    }
  }
  .login a {
    color: var(--very-dark-grayish-blue);
    @media (--md) {
      color: white;
    }
  }
  .nav_bar_left {
    @media (--md) {
      padding-left: 4rem;
    }
  }
  .navbar-mobile-icon {
    @media (--md) {
      display: none;
    }
  }
  .btn {
    background: var(--gradient-red);
    border-radius: 90px;
    margin-top: 1rem;
    padding: 8px 24px;
    display: inline-block;
    color: var(--white);
    @media (--md) {
      margin-top: 0rem;
      padding: 10px 40px;
      background: none;
      background-color: var(--white);
      border-radius: 90px;
      display: inline-block;
      color: #ce414a;
    }
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
</style>
